```
# Build artifacts
/build/
/dist/
*.apk
*.aab
*.app
*.exe
*.dll
*.so
*.dylib

# Flutter/Dart specific
.dart_tool/
.packages
*.g.dart
*.freezed.dart
*.config.dart

# Dependencies
pubspec.lock

# Logs
*.log
**/logs

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# iOS
**/ios/**
!ios/**/*
Pods/
ios/Pods/
ios/.symlinks/
*.xcodeproj/
*.xcworkspace/

# Android
**/android/**
!android/**/*
android/app/build/
android/.gradle/
android/local.properties
.gradle/

# Web
**/web/**

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
```